/*
 * Copyright (c) 2022 Duccio Breschi
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include "bbp9981-layouts.dtsi"

/ {
    bbp9981_layout: bbp9981_layout {
        compatible = "zmk,physical-layout";
        display-name = "bbp9981";

        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 200 100    0    0       0     0     0>
            , <&key_physical_attrs 200 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  450    0       0     0     0>
            , <&key_physical_attrs 200 100  600    0       0     0     0>
            , <&key_physical_attrs 200 100  800    0       0     0     0>
            , <&key_physical_attrs 100 100    0  100       0     0     0>
            , <&key_physical_attrs 100 100  100  100       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  100       0     0     0>
            , <&key_physical_attrs 100 100  500  100       0     0     0>
            , <&key_physical_attrs 100 100  600  100       0     0     0>
            , <&key_physical_attrs 100 100  700  100       0     0     0>
            , <&key_physical_attrs 100 100  800  100       0     0     0>
            , <&key_physical_attrs 100 100  900  100       0     0     0>
            , <&key_physical_attrs 100 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  100  200       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  200       0     0     0>
            , <&key_physical_attrs 100 100  500  200       0     0     0>
            , <&key_physical_attrs 100 100  600  200       0     0     0>
            , <&key_physical_attrs 100 100  700  200       0     0     0>
            , <&key_physical_attrs 100 100  800  200       0     0     0>
            , <&key_physical_attrs 100 100  900  200       0     0     0>
            , <&key_physical_attrs 100 100    0  300       0     0     0>
            , <&key_physical_attrs 100 100  100  300       0     0     0>
            , <&key_physical_attrs 100 100  200  300       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  300       0     0     0>
            , <&key_physical_attrs 100 100  500  300       0     0     0>
            , <&key_physical_attrs 100 100  600  300       0     0     0>
            , <&key_physical_attrs 100 100  700  300       0     0     0>
            , <&key_physical_attrs 100 100  800  300       0     0     0>
            , <&key_physical_attrs 100 100  900  300       0     0     0>
            , <&key_physical_attrs 125 100  100  400       0     0     0>
            , <&key_physical_attrs 125 100  225  400       0     0     0>
            , <&key_physical_attrs 300 100  350  400       0     0     0>
            , <&key_physical_attrs 125 100  650  400       0     0     0>
            , <&key_physical_attrs 125 100  775  400       0     0     0>
            ;
    };
};

  / {
	chosen {

		zmk,physical-layout = &bbp9981_layout;
	};


&bbp9981_layout{
	transform = <&default_transform>;
	kscan = <&kscan0>;
};

bbp9981_udc0: &usbd { 
    compatible = "nordic,nrf-usbd"; 
    status = "okay"; 
};
